html {
    min-width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
}

#container {
    text-align: center;
}

#header h1{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 7em;
    line-height: 0;
}

#header h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1em;
    line-height: 0;
    padding-bottom: 1em;
}

.put-to-goal-list {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
}

.put-to-goal-list input {
    margin: 0 .25em;
    border: 1px solid #eee;
    border-left: 3px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
    width: 100%;
    height: 50px;
}

.put-to-goal-list input:optional {
    border-left-color: #95a5a6;
}

.put-to-goal-list input:required {
    border-left-color: #2ecc71;
}

.put-to-goal-list input:invalid {
    border-left-color: #e74c3c;
}

input::placeholder {
    color: #95a5a6;
    font-size: 16px;
    text-align: center;
}

::-moz-placeholder {
    opacity: 1;
}

#container button {
    margin-top: 1%;
    padding: 10px 20px;
    color: #ffffff;
    background: #2ecc71;
    border: 2px solid #2ecc71;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 125%;
    transition-duration: 0.4s;
}

#container button:hover {
    background: #ffffff;
    color: #2ecc71;
}

ol li {
    text-align: center;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

ol li:last-child {
    border: 0;
}

ol li:hover {
    background-color: #55efc4;
    }

a:link {
    text-decoration: none;
    color: #000000;
    background-color: transparent;
}

a:visited {
    text-decoration: none;
    color: #e84393;
    background-color: transparent;
}


a:hover {
    text-decoration: underline;
    background-color: transparent;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}
